VITE_GATEWAY_URL=http://localhost:5047
VITE_GATEWAY_SERVICE_URL=http://localhost:5047
VITE_AUTH_SERVICE_URL=http://localhost:5251
VITE_APPLICATION_SERVICE_URL=http://localhost:5008
VITE_ADMIN_SERVICE_URL=http://localhost:5094
VITE_DOCUMENT_SERVICE_URL=http://localhost:5296
